body {
    padding-top: 70px;
}

a:hover, a:focus {
    text-decoration: none;
}

/** Navbar **/

.navbar-eventwall {
    border-width: 0 0 0px;
}

.navbar-eventwall {
    background-color: #3498db;
}

.navbar-eventwall .navbar-brand:focus, .navbar-eventwall .navbar-brand:hover {
    color: #fff;
}

.navbar-eventwall .navbar-toggle {
    border-color: #fff;
}

.navbar-eventwall .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-eventwall .navbar-brand {
    color: #fff;
}

.navbar-eventwall .navbar-nav>li>a {
    color: #fff;
}

.navbar-eventwall .navbar-nav>li>a:focus, .navbar-eventwall .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #428bca !important;
}

.navbar-form .input-group >.search-bar {
    width: 100%;
    border-radius: 2px 0 0 2px;
}

.search-btn {
    border-radius: 0 2px 2px;
}

/** Modals **/

.modal-header {
    border-bottom: none;
    text-align: center;
}

.btn {
    border-radius: 2px;
}

.fb-button {
    background-color: #3b5998;
    font-size: 14px;
    border: none;
    color: #fff; 
}

.fb-button:hover {
    background-color: #446CB3;
    border: none;
    color: #fff; 
}

.sign-button {
    background-color: #ccc;
    font-size: 14px;
    border: none;
    color: #000; 
}

.btn-icon {
    margin-right: 10px;
}

.divider {
    margin-top: 2px;
}

.divider span {
    background-color: #fff;
    color: #a3a3a7;
    display: block;
    margin: -40px auto 0;
    width: 50px;
    text-align: center;
}

.divider p {
    margin: 10px 0 10px;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

/** Carousel **/

.event-carousel-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: -20px;
}


/** Event Card **/

.thumbnail-ec {
    padding: 0px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(246,246,246,1);
}

.thumbnail-ec:hover {
    box-shadow: 4px 4px 4px 0px rgba(230,230,230,1);
}

.thumbnail-ec>img {
    width: 100%;
    height: 200px;
}

.label {
    border-radius: 0;
    margin-bottom: -25px;
    position: relative;
    height: 25px;
    width: 80px;
    font-size: 100%;
    letter-spacing: 3px;
    /*padding: .2em .6em 0em;*/
    opacity: 0.8;
}

.label-club {
    background-color: #e74c3c;
}

.label-lecture {
    background-color: #f1c40f;
}

.label-contest {
    background-color: #2185D0;
}

.label-academic {
    background-color: #21BA45;
}

.event-info {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.event-info p {
    margin: 0 0 3px;
}

.caption-ec h3 {
    margin-top: 10px;
    font-size: 20px;
    height: 50px;
}

.table {
    margin-bottom: 5px;
}

.table>tbody>tr>td {
    padding: 3px;
    border-top: none;
}

.justify {
    height: 46px;
}


/** Event Type Tabs **/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 3px solid;
    border-bottom-color: #3498db;
}

.nav-tabs>li {
    width: 25%;
    font-size: 16px;
}

.nav-tabs>li>a {
    border-radius: 0;
}

a {
    color: #555;
}

a:hover {
    color: #949494;
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/** Panel  **/

.panel-tabs>li {
    width: 33.3%
}

.media:first-child {
    margin-top: 30px;
}

.media-body, .media-left, .media-right {
    vertical-align: middle;
    padding-left: 20px;
}

.profile-img {
    width: 180px;
}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    border-radius: 0;
}

.form-save {
    margin-top: 30px;
    padding-top:20px;
    border-top: 1px solid #ddd;
    max-width: 100%;
}

.form-horizontal .form-group {
    /*margin-left: 0px;*/
}

.btn-save {
    color: #fff;
    background-color: #3498db;
    border-color: none;
    border-radius: 0;
}

.cover-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/** Event **/

.event-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.thumbnail-ec-big {
    padding: 0px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px rgba(246,246,246,1);
    /*height: 1000px;*/
}

.thumbnail-ec-big>img {
    width: 100%;
}

.caption-ec-big {
    padding-left: 15px;
    padding-right: 15px;
}

.event-title {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px 15px 15px 25px;
    opacity: 0.8;
    margin-bottom: 20px;
    width: 100%
}

.event-title > h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.event-follow {
    width: 10%;
    background-color: #F2F1EF;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 14px;
}

.event-info-big, .event-summary {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.event-info-td {
    padding-left: 15px !important;
}

/** Footer **/

footer {
    padding: 30px 0;
    background-color: #f1f0f0;
    text-align: center;
}

.social-buttons > li > a {
    display: block;
    background-color: #777;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    outline: 0;
    transition: all .3s;
}

.social-buttons > li > a:hover {
    background-color: #949494;
}
